.buttons-container {
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: column;
  gap: 5px;
}

.row-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  border-radius: 2px;
  font-size: 16px;
  color: #FAFAFA;
  position: relative;
}

.button:hover {
  background-color: #212121;
}

.superscript {
  position: absolute;
  right: 45%;
  top: 15%;
}

.button:hover {
  cursor: pointer;
}

.icon {
  font-size: 25px;
}

.operators {
  background-color: #616161;
}

.equal {
  background-color: #1565c0;
}

.numbers {
  background-color: #424242;
}