.calculator-container {
  border: 1px solid #121212;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 290px;
  max-width: 290px;
  height: 500px;
  max-height: 500px;
  background-color: #121212;
  justify-content: space-between;
}